*{
    margin: 0;
    padding:0;
  }
  #content{
    width:100%;
  }
  #up{
    border:1px red solid;
    height:10vh;
    float: left;
    width:100vw;
  }
  #down{
    width:auto;
    border:1px blue solid;
    /* margin-left:203px; */
    overflow:auto;
    height: auto;
  }